/* RESPONSIVE FOR TABLETS */

@media (min-width: 992px) {
  .navbar-item:not(.menu-item) {
    display: block !important;
  }
}

@media (max-width: 992px) {
  .menu-item {
    display: block !important;
  }
}

@media (max-width: 992px) {
  body .nl-page {
    h1 {
      font-size: calc(22px + 2.5vw);
    }

    h2 {
      font-size: calc(18px + 1.5vw);
    }

    footer {
      padding: 0.75rem;
      border-top: 1px solid $black;
      width: 100%;
      background: white;

      button, a {
        font-size: 0.8rem !important;
      }

      #toc-btn {
        top: -65px;
      }
    }
  }
}

@media (max-width: 960px) {
  body .nl-page {
    #landing {
      .header-image {
        padding: 1rem;
      }
    }

    .page-wrapper {
      padding-bottom: 37px; /*footer height*/
    }

    #program-elements {

      .program-box {
        padding: 24px 24px 100px;

        &.is-large:after {
          background-color: transparent !important;
        }

        .line {
          left: auto;
          right: 0;
        }

        .mid-dot {
          left: auto;
          right: -30px;

          &.is-large {
            left: auto;
            height: 100px;
            width: 100px;
            border-radius: 50px;
            top: calc(50% - 50px);
            right: -50px;
          }
        }

        .zoom-link {
          width: 100%;
          right: 0 !important;
        }
      }
    }

    #logistics {

      .white-extension {
        padding: 25px !important;

        &:before {
          content: '';
          height: 100%;
          width: 150px;
          background-color: $white;
          right: -150px;
          top: 0;
          position: absolute;
        }
      }


      .gray-extension {
        padding: 25px !important;

        &:before {
          content: '';
          height: 100%;
          width: 150px;
          background-color: $gray-400;
          left: -150px;
          top: 0;
          position: absolute;
        }
      }
    }

    section, section.highlight {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .module-header {
      margin-top: 2rem;
    }

    footer {
      .footer-left {
        border-right: none;
      }

      .footer-right {
        justify-content: flex-start;
      }
    }
  }
}

/* RESPONSIVE FOR MOBILE */

@media (max-width: 600px) {
  body .nl-page {
    #landing {
      padding: 0;

      .header-image {
        padding: 0;
      }

      .title {
        text-align: center;
      }
    }

    #intro {
      .intro-text {
        padding: 35px;
        margin-top: 0;
      }
    }

    .navbar {
      &.module {
        .site-title {
          display: none;
        }
      }
    }

    .title-main {
      display: none;
    }

    .title-mobile {
      display: block;
    }
  }
}

.hide-on-small-only, .hide-on-small-and-down {
  @media #{$small-and-down} {
    display: none !important;
  }
}

.hide-on-med-and-down {
  @media #{$medium-and-down} {
    display: none !important;
  }
}

.hide-on-med-and-up {
  @media #{$medium-and-up} {
    display: none !important;
  }
}

.hide-on-med-only {
  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
    display: none !important;
  }
}

.hide-on-large-only {
  @media #{$large-and-up} {
    display: none !important;
  }
}

.show-on-medium {
  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
    display: block !important;
  }
}

.show-on-small {
  @media #{$small-and-down} {
    display: block !important;
  }
}

.show-on-medium-and-up {
  @media #{$medium-and-up} {
    display: block !important;
  }
}

.show-on-medium-and-down {
  @media #{$medium-and-down} {
    display: block !important;
  }
}

.hide {
  display: none !important;
}
