@import "variables";
@import "mixins";
@import "utils";

* {
  box-sizing: border-box;
}

body .nl-page {
  font-family: $body-font;
  color: $black;
  background-color: $white;
  -webkit-font-smoothing: antialiased;

  &.theme-light {
    background-color: $white;
  }

  &.theme-gray {
    background-color: $gray-theme;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
  }

  h1 {
    font-size: calc(30px + 2vw);
  }

  h2 {
    font-size: calc(25px + 1.6vw);
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: calc(18px + 0.25vw);

    &.subheading {
      font-size: calc(18px + 0.75vw);
    }
  }

  p, a {

  }


  h4 {
    font-size: calc(18px + 0.5vw);
  }

  a, button {
    text-decoration-color: $highlight-color;
    text-decoration-skip-ink: auto;
    cursor: pointer;
  }

  .paragraph, p {
    font-family: $body-font;

    a {
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
    }
  }

  .logo {
    img {
      width: 220px;
    }
  }

  .navbar {
    padding: 0.75rem 1rem;
    background-color: $gray-100;
    position: static;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-items {
    display: flex;
    align-items: center;

      .navbar-item {
        margin-right: 24px;
        font-size: 16px;
        border-bottom: 1px solid $black;
        text-decoration: none;
        color: $black;
        display: none;
        position: relative;
        padding-bottom: 3px;

        &:after {
          content: '';
          width: 0;
          height: 2px;
          background-color: $white;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: 300ms;
        }

        &:hover:after {
          width: 100%;
        }
      }
  }

  .menu {
    width: 100vw;
    min-height: 100vh;
    background-color: $gray-100;
    flex-direction: column;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 24px;

    .menu-item {
      font-size: 16px;
      border-bottom: 1px solid $black;
      padding-bottom: 0;
      transition: 100ms;
      text-decoration: none;
      color: $black;
      margin-bottom: 24px;
    }

    &.is-active {
      display: flex;
    }
  }


  main {
    height: 100%;
  }

  footer {
    padding: 1rem;
    width: 100%;
    background: white;
  }

  #landing {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(180deg, rgba(70, 178, 126, 0.50) 0%, rgba(0, 166, 206, 0.50) 100%);
    background-blend-mode: color;
    height: calc(100vh - 85px); /*navbar height*/
    position: relative;

    .landing-body {
      position: absolute;
      bottom: 20%;
    }

    h1 {
      margin: 0;
      line-height: 1.2;
      color: $white;
    }
  }

  #intro {
    p {
      font-size: 1.2em;
      margin-top: 0;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .intro-text {
      color: $white;
      background-color: $gray-500;
      padding: 50px;
      margin-top: -100px;
    }
  }

  #program-elements {
    overflow: hidden;
    position: relative;

    h1 {
      margin: 0;
    }

    h2 {
      margin-bottom: 0;
    }

    .black-underline {
      width: 100%;
      height: 2px;
      background-color: black;
      align-self: flex-end;

      &:before {
        content: '';
      }
    }

    .program-box {
      background-color: white;
      padding: 48px 128px 125px;
      margin-bottom: 24px;
      position: relative;

      &.is-large:after {
        content: '';
        height: 100%;
        width: 150px;
        background-color: $white;
        left: -150px;
        top: 0;
        position: absolute;
      }

      h4 {
        font-size: calc(24px + 0.5vw);
      }

      h3 {
        font-weight: 300;
      }

      .line {
        height: 300%;
        width: 2px;
        background-color: $blue;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 1;
      }

      .mid-dot {
        background: linear-gradient(to right, $blue, $green);
        position: absolute;
        height: 60px;
        width: 60px;
        border-radius: 30px;
        top: calc(50% - 30px);
        left: -30px;
        z-index: 2;

        &.is-large {
          height: 150px;
          width: 150px;
          border-radius: 75px;
          top: calc(50% - 75px);
          left: -75px;
        }

        &.is-past {
          background: $gray-400;
        }
      }

      .zoom-link {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 24px;
        background-color: $primary-color;
        color: $white;
        text-align: center;
        min-width: 300px;
        text-decoration: none;
        font-weight: 700;

        &.is-large {
          right: -150px;
          min-width: 450px;
        }

        &.is-past {
          background-color: $gray-400;
        }
      }
    }
  }

  #logistics {
    overflow: hidden;

    .white-extension {
      position: relative;

      &:after {
        content: '';
        height: 100%;
        width: 150px;
        background-color: $white;
        left: -150px;
        top: 0;
        position: absolute;
      }
    }


    .gray-extension {
      position: relative;

      &:after {
        content: '';
        height: 100%;
        width: 150px;
        background-color: $gray-400;
        right: -150px;
        top: 0;
        position: absolute;
      }
    }
  }

  .gallery-item {
    text-decoration: none;
    transition: all 0.3s ease;

    .tag {
      top: 0;
      right: 0;
      font-size: 1rem;
    }

    .author, .details {
      font-size: 14px;
    }

    .img-container {
      overflow: hidden;

    }

    .gallery-item-image {
      transition: all 0.5s ease-in-out;
      filter: grayscale(1) contrast(2);
    }

    .overlay-gradient {
      transition: all 0.3s ease;
      opacity: 1;
    }

    &:hover, &:focus {
      .gallery-item-image {
        filter: grayscale(0) contrast(1);
        transform: scale(1.075);
      }

      .overlay-gradient {
        opacity: 0;
      }

      .card-title {
        text-decoration: underline;
      }
    }
  }

  .overlay-gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(100deg, rgba(0, 166, 206, 0.50) 0%, rgba(70, 178, 126, 0.50) 100%);

    &.full-opacity {
      background: linear-gradient(100deg, rgba(0, 166, 206, 1) 0%, rgba(70, 178, 126, 1) 100%);
    }
  }

  .lightbox-container {
    position: relative;
  }

  .lightbox-container .overlay {
    transition: all 0.3s ease-in;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
  }

  .lightbox-container .overlay:hover, .lightbox-container .overlay:focus {
    opacity: 1;
  }

  &.admin-page {
    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2rem;
    }

  }
}


@import "responsive";
