@import "variables";
@import "mixins";
@import "utils";

* {
  box-sizing: border-box;
}

body .nl-page {
  font-family: $body-font;
  font-size: 14px;
  color: $black;
  background-color: $white;
  -webkit-font-smoothing: antialiased;

  &.theme-light {
    background-color: $white;
  }

  &.theme-gray {
    background-color: $medium-gray;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
  }

  h1 {
    font-size: calc(30px + 2vw);
  }

  h2 {
    font-size: calc(25px + 1.6vw);
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: calc(18px + 0.25vw);

    &.subheading {
      font-size: calc(18px + 0.75vw);
    }
  }

  p, a {
    font-size: 1.125rem;
  }


  h4 {
    font-size: calc(18px + 0.5vw);
  }

  a, button {
    text-decoration-color: $highlight-color;
    text-decoration-skip-ink: auto;
    cursor: pointer;
  }

  .paragraph, p {
    font-family: $body-font;

    a {
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
    }
  }

  .logo {
    img {
      width: 220px;
    }
  }

  .navbar {
    padding: 1rem;
    background-color: $white;
    position: static;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main {
    height: 100%;
  }

  footer {
    padding: 1rem;
    width: 100%;
    background: white;
  }

  #landing {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(180deg, rgba(70, 178, 126, 0.50) 0%, rgba(0, 166, 206, 0.50) 100%);
    background-blend-mode: color;
    height: calc(100vh - 85px); /*navbar height*/
    position: relative;

    .title {
      position: absolute;
      bottom: 20%;
    }
  }

  #intro {
    p {
      font-size: 1.5em;
    }
  }

  #program-elements {
    h2 {
      margin-bottom: 0;
    }

    .black-underline {
      width: 100%;
      height: 2px;
      background-color: black;
      align-self: flex-end;

      &:before {
        content: '';
      }
    }

    .program-box {
      background-color: white;
      padding: 48px 64px;
      margin-bottom: 24px;

      h4 {
        font-size: calc(24px + 0.5vw);
      }

      h3 {
        font-weight: 300;
      }
    }
  }

  .gallery-item {
    text-decoration: none;
    transition: all 0.3s ease;

    .tag {
      top: 0;
      right: 0;
      font-size: 1rem;
    }

    .author, .details {
      font-size: 14px;
    }

    .img-container {
      overflow: hidden;

    }

    .gallery-item-image {
      transition: all 0.5s ease-in-out;
      filter: grayscale(1) contrast(2);
    }

    .overlay-gradient {
      transition: all 0.3s ease;
      opacity: 1;
    }

    &:hover, &:focus {
      .gallery-item-image {
        filter: grayscale(0) contrast(1);
        transform: scale(1.075);
      }

      .overlay-gradient {
        opacity: 0;
      }

      .card-title {
        text-decoration: underline;
      }
    }
  }

  .overlay-gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(100deg, rgba(0, 166, 206, 0.50) 0%, rgba(70, 178, 126, 0.50) 100%);

    &.full-opacity {
      background: linear-gradient(100deg, rgba(0, 166, 206, 1) 0%, rgba(70, 178, 126, 1) 100%);
    }
  }

  .lightbox-container {
    position: relative;
  }

  .lightbox-container .overlay {
      transition: all 0.3s ease-in;
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 20px;
      cursor: pointer;
  }

  .lightbox-container .overlay:hover, .lightbox-container .overlay:focus {
      opacity: 1;
  }

  &.admin-page {
    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2rem;
    }

  }
}



@import "responsive";