@import "variables";
@import "mixins";
@import "utils";

body .nl-page {
  font-family: $body-font;
  font-size: 14px;
  color: $black;
  background-color: $white;

  &.theme-light {
    background-color: $white;
  }

  &.theme-gray {
    background-color: $medium-gray;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
  }

  h1 {
    font-size: calc(30px + 2vw);
  }

  h2 {
    font-size: calc(20px + 1.5vw);
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: calc(18px + 0.25vw);

    &.subheading {
      font-size: calc(18px + 0.75vw);
    }
  }


  h4 {
    font-size: calc(18px + 0.5vw);
    margin-top: 0;
    margin-bottom: 0;
  }

  a, button {
    text-decoration-color: $highlight-color;
    text-decoration-skip-ink: auto;
    cursor: pointer;
  }

  .paragraph, p {
    font-family: $body-font;
    font-size: 1.2em;

    a {
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
    }
  }

  .logo {
    img {
      width: 220px;
    }
  }

  .navbar {
    padding: 1rem;
    background-color: $white;
    position: static;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main {
    height: 100%;
  }

  footer {
    padding: 1rem;
    width: 100%;
    background: white;
  }

  #landing {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(180deg, rgba(70, 178, 126, 0.50) 0%, rgba(0, 166, 206, 0.50) 100%);
    background-blend-mode: color;
    height: calc(100vh - 85px); /*navbar height*/
    position: relative;

    .title {
      position: absolute;
      bottom: 20%;
    }
  }

  #intro {
    p {
      font-size: 1.5em;
    }
  }

  #program-elements {
    h2 {
      margin-bottom: 0;
    }

    .black-underline {
      width: 100%;
      height: 2px;
      background-color: black;
      align-self: flex-end;

      &:before {
        content: '';
      }
    }

    .program-box {
      background-color: white;
      padding: 48px 64px;
      margin-bottom: 24px;

      h4 {
        font-size: calc(24px + 0.5vw);
      }

      h3 {
        font-weight: 300;
      }
    }
  }

  &.admin-page {
    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2rem;
    }

  }
}



@import "responsive";